<appSettings>
  <add key="ida:AppID" value="18a515c4-654b-45ea-a364-a44da8e4acae" />
  <add key="ida:AppPassword" value="kihvnUXFO6^-%xfPUQ4027{" />
  <add key="ida:RedirectUri" value="http://localhost:56232/" />
  <add key="ida:AppScopes" value="User.Read Mail.Read Files.ReadWrite.All" />
  <!--public string[] Scopes = { "https://graph.microsoft.com/.default" };-->
</appSettings>